@model SzPEK.Models.CourseParticipatesViewModel

@foreach(var participate in Model.Participates)
{
    @participate.Name
}

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>



<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Temat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Subject)
        </dd>
        <dt>
            Data rozpoczęcia
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.StartingDate)
        </dd>
        <dt>
            Opis
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Imie
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Participates)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @if(item.Status.ToLower()=="oczekuje")
                {
                    <a asp-action="Accept" asp-route-CourseID="@Model.Course.CourseID" asp-route-ParticipateID="@item.ParticipateID">Akceptuj</a> <text> | </text>
                    <a asp-action="Reject" asp-route-CourseID="@Model.Course.CourseID" asp-route-ParticipateID="@item.ParticipateID">Odrzuć</a>
                }
                else if(item.Status.ToLower()=="zaakceptowano")
                {
                    <a asp-action="Reject" asp-route-CourseID="@Model.Course.CourseID" asp-route-ParticipateID="@item.ParticipateID">Odrzuć</a>
                }
                else if(item.Status.ToLower()=="odrzucono")
                {
                    <a asp-action="Delete" asp-route-CourseID="@Model.Course.CourseID" asp-route-ParticipateID="@item.ParticipateID">Usuń</a>
                }
                else
                {
                    <text>Błąd kryczny walidacji danych!</text>
                }
            </td>
        </tr>
}
    </tbody>
</table>
