@model List<SzPEK.Models.Course>

<h2>Lista kursów</h2>

<p>
    <a>Dodaj kurs</a>
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    Temat kursu
                </th>
                <th>
                    Data rozpoczęcia
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>

            <td>
                <a>Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.CourseID">Szczegóły</a> |
                <a asp-action="DeleteCourse" asp-route-id="@item.CourseID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>